.slot {
  background: #222;
  color: #aeaeae;
  padding: 7px 0;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
}

.slot:hover {
  background: #c43629c5;
  color: white;
}

.slot .disabled { 
  background: #444444;
  color: black;
}