.coming-soon {
  color: white;
  margin-top: 10px;
}
.card {
  border-radius: 10px;
}
.card-header {
  color: #ffffff;
  background: #d73426;
  font-size: 1.8rem;
  font-style: unset;
  border-radius: 10px 10px 0 0;
  z-index: 3;
}

.w-40 {
  width: 48%;
}

.soon-text {
  font-size: 1.4rem;
  color: #000000;
  text-align: left;
  padding: 10px;
  text-transform: initial;
}
.relative {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(115, 115, 115, 0.35);
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}
.text {
  position: absolute;
  width: 100%;
  top: 40%;
  border-radius: 5px;
  font-size: 2.6rem;
  color: #d73426;
  background: black;
  text-align: center;
  transform: rotate(320deg);
  -ms-transform: rotate(340deg);
}
