* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    13deg,
    rgba(0, 0, 0, 1),
    rgba(31, 31, 31, 1)
  );
  color: #ffffff;
  min-height: 100vh;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;
  padding: 12px 0;
  font-style: italic;
  font-weight: 600;
}

h3 {
  font-size: 2.2rem;
  padding: 12px 0;
  font-style: italic;
  font-weight: 600;
}

h4 {
  font-size: 1.8rem;
  padding: 0;
  font-style: italic;
  font-weight: 600;
}

h5 {
  font-size: 1.8rem;
  padding: 0;
  font-style: italic;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

.App {
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
}

.card {
  border-radius: 0;
  border: none;
}

/* Nav */
header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav {
  position: absolute;
  top: 14px;
  display: flex;
  width: 390px;
  justify-content: space-around;
}

nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 3px;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #d73426;
  transition: 0.2s;
}

/* Colors */
.bg-moxred {
  background-color: #d73426;
}
.bg-black {
  background-color: #030303;
}
.bg-dkgray {
  background-color: #252525;
}

/* Buttons */
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.75rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  font-weight: 600;
  font-style: italic;
}
.btn-group-md > .btn,
.btn-md {
  padding: 0.3rem 0.6rem;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: 0;
}
.btn-moxred {
  color: #fff;
  background-color: #d73426;
  border-color: #d73426;
}

.btn-moxred:hover {
  color: #fff;
  background-color: #81261d;
  border-color: #b9291c;
}
