.nav-bar {
  background-color: black;
  text-align: center;
  margin: -80px auto 0 auto;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
}

.nav-bar img {
  width: 100px;
  margin: 10px auto;
}

.table-header {
  background-color: #030303;
}

.table-rows {
  background-color: #131313;
}

.lobby h2 {
  margin-top: 20px;
}

.banner{
  height: 350px;
  width: 100%;
  max-width: 900px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(221, 8, 8, 0.438) 100%), url(https://media.giphy.com/media/4GXLbgLH5Vf8M96Zvw/giphy.gif) no-repeat center center fixed; 
  background-size: cover;

  margin: 20px auto;
}
