.nav-bar {
  background-color: black;
  text-align: center;
  margin: -60px auto 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
}

.nav-bar img {
  width: 100px;
  margin: 10px auto;
}

.table-header {
  background-color: #030303;
}

.table-rows {
  background-color: #131313;
}
