/* .App .ReactTable .rt-table .rt-thead {
  background-color: #d73426;
} */


.App .ReactTable .pagination-bottom .-pagination {
  display: none;
}

.App .draft-page { 
  color: white; 
  position: absolute;
  width: 100%;
  left: 0;
}

.draft-content {
  display: flex;
  flex-wrap: wrap;
}
.draft-order-list {
  list-style-type: none;
  padding: 0;
}
.draft-order-list li:hover {
  background: red;
  color: white;
}
.your-turn {
  /* background: #51D88A; */
  border-color: #51d88a;
  color: #51d88a;
}
.draft-order-list .your-turn:hover {
  background-color: #1F9D55;
  border-color: #1F9D55;
}

.timer {
  width: 47%;
  border: 1px red solid;
  height: 286px;
  position: relative;
}
.w-custom-roster {
  width: 40%;
}

.logger {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #333;
  color: white;
  padding: 7px 14px;
}

.timer button {
}
.w-custom-roster {
  width:40%
}

.player-card {
  border: 1px solid #212121;
  width: 53%;
  height: 286px;
}
