.SF {
  background: #aa0000;
  border-color: #b3995d;
}

.CHI {
  background: #0b162a;
  border-color: #c83803;
}

.CIN {
  background: #fb4f14;
  border-color: #000;
}

.BUF {
  background: #00338d;
  border-color: #c60c30;
}

.DEN {
  background: #002244;
  border-color: #fb4f14;
}
.CLE {
  background: #311d00;
  border-color: #ff3c00;
}

.TB {
  background: #d50a0a;
  border-color: #34302b;
}

.ARI {
  background: #97233f;
  border-color: #fff;
}

.SD {
  background: #002a5e;
  border-color: #ffc20e;
}

.KC {
  background: #e31837;
  border-color: #ffb81c;
}

.IND {
  background: #002c5f;
  border-color: #a2aaad;
}

.DAL {
  background: #041e42;
  border-color: #869397;
}

.MIA {
  background: #008e97;
  border-color: #f26a24;
}

.PHI {
  background: #004c54;
  border-color: #000;
}

.ATL {
  background: #a71930;
  border-color: #000;
}

.NYG {
  background: #0b2265;
  border-color: #a71930;
}

.JAC {
  background: #006778;
  border-color: #d7a22a;
}

.NYJ {
  background: #003f2d;
  border-color: #fff;
}

.DET {
  background: #0076b6;
  border-color: #b0b7bc;
}

.GB {
  background: #203731;
  border-color: #ffb612;
}

.CAR {
  background: #0085ca;
  border-color: #101820;
}

.NE {
  background: #002244;
  border-color: #c60c30;
}

.OAK {
  background: #000;
  border-color: #a5acaf;
}

.STL {
  background: #002244;
  border-color: #fff;
}

.BAL {
  background: #241773;
  border-color: #9e7c0c;
}

.WAS {
  background: #773141;
  border-color: #ffb612;
}

.NO {
  background: #000;
  border-color: #d3bc8d;
}

.SEA {
  background: #002244;
  border-color: #69be28;
}

.PIT {
  background: #000;
  border-color: #ffb612;
}

.HOU {
  background: #a71930;
  border-color: #03202F;
}

.TEN {
  background: #03202f;
  border-color: #a71930;
}

.MIN {
  background: #4f2683;
  border-color: #ffc62f;
}
